body
{
    height: 30 0vh;
    background-image: linear-gradient(rgb(132, 111, 247),rgb(154, 225, 247),rgb(132, 111, 247));
}
#sname
{
    font-size: 15px;
    text-decoration: none;
    color: black;

}
#im
{
     border-radius:10%;
     margin-left:5%;    
}
#im2
{
    border-radius:10%;
    margin-left: 5%;   
}
#art
{
    font-size: 25px;
    text-decoration: underline;
}
#arti
{
    font-size: 23px;
    list-style: circle;
}
.b
{   
    width: fit-content;
    border-bottom: 3px double ;
}
